*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Header Section */
nav{
  margin: 0 auto;
  max-width: 1360px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

#logo{
  width: 139px;
  height: 60px;
  margin: 0;
}

 nav li{
  list-style-type: none;
  
}
nav .list-item a{
  text-decoration: none;
  font-size: 16;
  color: #000000;
  font-weight: 500;
}
nav .list-item{
  display: flex;
  gap: 32px;
  width:365px;
}
#btn{
  padding: 12.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  border-radius: 4px;
  border: none;
  margin-right: 120px;
  cursor: pointer;
}

/* Header Banner Section */

.banner-container{
    width: 100%;
    max-width: 1600px;
    height: 674px;
    background: url(./images/background.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 0;
    background-size: cover;
    padding-top: 115.5px;
}

.banner{
    max-width: 1360px;
    height: 379px;

    /* border: 1px solid red; */
    /* margin: 115.5px 120px 179.5px 120px; */

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
}

/* Early Access Open Button */
.btn{
    padding: 8px 12px;
    border-radius: 25px;
    border: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 27.5px;
}

.banner h1{
    width:770px;
    height: 168px;
    margin-top: 16px;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 62px;
    color: #ffffff;
}
.color-font{
    color: #469165;
}
.banner p{
    width: 1360px;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 32px;

}
   

.banner-below-button{
    display: flex;
    gap: 12px;
   
}

.banner-below-button #start{
     padding: 16px;
    color: #ffffff;
    background-color: #469165;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.banner-below-button #see{
    padding: 16px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
}

/* Notes Container */
.notes-container{
    width: 1360px;
    height: 152px;
    margin: 0 auto;
    text-align: center;
   }

   .notes-container h1{
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 16px;

   }
   .notes-container p{
    font-size: 16px;
    }

/* Card Section */
.card-container{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 44px auto;
}

.cards{
    max-width: 322px;
    height: 300px;
    margin: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: -6px 6px 12px rgba(180, 180, 200, 0.5);
    background-color: #FAFAFA;
    border-radius: 6px; 
    cursor: pointer;
    margin-bottom: 120px;
}

.cards img{
    background-color: #F95555;
    width: 60px;
    border-radius: 50%;
    padding: 14px;
    margin-top: 69.5px;
    margin-bottom: 16px;
}
.cards h4{
    width: 274px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}

.cards p{
    width: 274px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}

/* Brain Container */
.brain-container{
    max-width: 1360px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}

.brain-container .image img{
    max-width: 600px;
}

.brain-container .brain-info li {
    font-size: 16px;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
    
}

.brain-container .brain-info h1{
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}

.brain-container .brain-info p{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
}

/* Ready Section */

.ready-banner{
    max-width: 1360px;
    height: 384px;
    background-color: #F7F6F2;

    /* border: 1px solid red; */
    margin: 115.5px 120px 179.5px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
}

.ready-banner h1{
    margin-top: 80px;
    margin-bottom: 16px;
    text-align: center;
}
.ready-banner p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 1280px;
    text-align: center;
}

/* Footer Section */

footer{
    width: 100%;
    max-width: 1600px;
    height: 348px;
    background-color: #001931;  
    padding-top: 120px; 
}

.footer-logo-container{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
   .footer-logo-container p{
    color:#ffffff;
    line-height: 28px;
}

.footer-logo-container .social-icons i{
    background-color:#ffffff;
    color: #001931;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
   }

.footer-bottom{
    margin-top: 80px;
}

.footer-bottom hr{
    width: 1360px;
    margin: 0 auto;
    border: none;
    border-top: 1px solid rgba(255,255,255,0.2); 
}

.footer-bottom p{
    margin-top: 20px;
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
}

