*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Header Section */
header{
  max-width: 1600px;
  background-color: lightgoldenrodyellow;
}

nav{
  /* width: 71%; */
  margin: 0 120px;
  max-width: 1360px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 139px;
  height: 60px;
  margin: 16px 120px;
}

 nav li{
  list-style-type: none;
  
}
nav .list-item a{
  text-decoration: none;
  font-size: 16;
  color: #000000;
  font-weight: 500;
}
nav .list-item{
  display: flex;
  gap: 32px;
  width:365px;
}
.btn{
  padding: 12.5px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  border-radius: 4px;
  border: none;
  margin-right: 120px;
  cursor: pointer;
}
#banner{
 background-image: url(./images/background.png); 
 
}

